$gutter: 0.5rem;
$color-twitch: #aa43ff;
$color-youtube: #ff0001;

.App {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: $gutter;
  padding-top: $gutter * 8;
  box-sizing: border-box;
  overflow: auto;
  header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $gutter;
    align-items: flex-end;
    h1 {
      margin: 0;
    }
    ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      li {
        margin-left: $gutter;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }

  .Daily {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    position: absolute;
    left: 0;
    top: $gutter * 8;
    height: calc(100vh - $gutter * 8);
    width: 100%;
    overflow: hidden;
    h1 {
      margin: 0;
    }
    .ui {
      display: flex;
      flex-flow: row nowrap;
      > div {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
    .visualization-container {
      flex: 1;
      overflow: auto;
    }
    .date-picker-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;
        li {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          margin-left: 1rem;
          button {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .DailyVisualizationSession {
    .session-background {
      fill: rgba(0, 0, 0, 0.05);
    }
    .activity-span {
      rect {
        fill: rgba(255, 0, 0, 0.3);
      }
    }
    .blur-span {
      rect {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
    .chat-slice {
      &.twitch {
        rect {
          fill: $color-twitch;
        }
      }
      &.youtube {
        rect {
          fill: $color-youtube;
        }
      }
    }
    .browsing-event {
      text,
      .event-label {
        font-size: 0.8rem;
      }
      .event-label {
        text-align: right;
      }
      &.twitch {
        .browsing-event-circle {
          fill: $color-twitch;
          stroke: white;
        }
        .browsing-event-duration-line {
          stroke: $color-twitch;
        }
      }
      &.youtube {
        .browsing-event-circle {
          fill: $color-youtube;
          stroke: white;
        }
        .browsing-event-duration-line {
          stroke: $color-youtube;
        }
      }
    }
  }

  button {
    &.active {
      font-weight: 800;
    }
  }
}

.event-tooltip-content {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: .5rem;
    em {
      min-width: 10rem;
      max-width: 10rem;
      text-align: right;
      padding-right: .25rem;
    }
    code {
      margin-left: 1rem;
      max-width: 30rem;
    }
  }
}

.Studio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .ui-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    max-width: 30vw;
    padding: $gutter;
    .header {

    }
    .body {
      flex: 1;
      overflow: auto;
    }
    .footer {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        li {
          display: flex;
        }
      }
    }
  }
  .preview-container {
    background: red;
    flex: 1;
  }
}