@use "fonts";
@use "constants";

.Annotations {
  .contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    overflow: hidden;
    .column {
      flex: 1;
      width: 50%;
    }
    .form-column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;

      .annotation-form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        height: 100%;
        overflow: hidden;
        > div {
          padding: constants.$gutter;
        }
        .form-header {
          margin: 0;
          background: #333;
          color: white;
          h4,
          p {
            margin: 0;
          }
        }
        .form-actions {
          display: flex;
          flex-flow: row nowrap;
          justify-content: stretch;
        }
        .form-list {
          flex: 1;
          overflow: auto;
        }
        .form-footer {
          button {
            width: 100%;
          }
        }
      }
    }
    .viz-column {
      box-sizing: border-box;
      padding: constants.$gutter;
      .AnnotationsNetwork {
        width: 100%;
        height: 100%;
        position: relative;
        .legend-container {
          position: absolute;
          left: constants.$gutter;
          bottom: constants.$gutter;
          h4 {
            margin: 0;
            margin-bottom: constants.$gutter-small;
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              display: flex;
              align-items: center;
              margin-bottom: constants.$gutter-small;
              .color-marker {
                margin-right: constants.$gutter-small;
              }
            }
          }
        }
        .react-sigma-control {
          button {
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
