@import './fonts';

$gutter: 0.5rem;
$gutter-small: 0.25rem;
$max-content-width: 1200px;
$color-twitch: #aa43ff;
$color-youtube: #ff0001;

$color-app-main : #9147FF;
$color-app-bg: #EDEDED;

.App {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  // padding: $gutter;
  // padding-top: $gutter * 8;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  background: $color-app-bg;

  /*
    default fonts
  */
  @include abeezee-regular;
  h1,h2,h3 {
    @include kanit-medium;
  }
  h4,h5,h6 {
    @include hammersmith-one-regular;
  }
  button, select, option, input, textarea {
    @include hammersmith-one-regular;
  }

  button {
    background: inherit;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: #867f7f;
    color: white;
    border: 1px solid $color-app-bg;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background: #333;
    }
    &.active {
      background: #333;
      &:hover {
        background: black;
      }
    }
  }

  /**
   Main structure
   */
  header {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    // padding: $gutter;
    align-items: center;
    @include kanit-bold;
    background: $color-app-main;
    color :white;
    .header-contents {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      box-sizing: border-box;
      padding: $gutter 0;
      width: $max-content-width;
      max-width: $max-content-width;
    }
    h1 {
      margin: 0;
      @include kanit-bold;
      a, a.active {
        text-decoration: none;
      }
      .alpha-mark {
        padding-left: $gutter-small;
        opacity: .5;
        @include kanit-light;
      }
      font-size : 2rem;
    }
    ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      li {
        margin-left: $gutter;
        @include kanit-light;
        font-size: 2rem;
        a,a.active {
          text-decoration: none;
        }
        a.active {
          @include kanit-semibold;
        }
        a:not(.active):hover {
          @include kanit-regular;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }

  .contents-wrapper {
    display: flex;
    flex-flow : row nowrap;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;    
    overflow: hidden;
  }
  .contents {
    position: relative;
  }
  .contents.width-limited-contents {
    max-width: $max-content-width;
  }

  .Daily {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 100%;
    overflow: auto;
    h1 {
      margin: 0;
    }
    .ui {
      display: flex;
      flex-flow: row nowrap;
      > div {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
    .visualization-container {
      flex: 1;
      overflow: auto;
    }
    .date-picker-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;
        li {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          margin-left: 1rem;
          button {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .DailyVisualizationSession {
    .session-background {
      fill: rgba(0, 0, 0, 0.05);
    }
    .activity-span {
      rect {
        fill: rgba(255, 0, 0, 0.3);
      }
    }
    .blur-span {
      rect {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
    .chat-slice {
      &.twitch {
        rect {
          fill: $color-twitch;
        }
      }
      &.youtube {
        rect {
          fill: $color-youtube;
        }
      }
    }
    .browsing-event {
      text,
      .event-label {
        font-size: 0.8rem;
      }
      .event-label {
        text-align: right;
      }
      &.twitch {
        .browsing-event-circle {
          fill: $color-twitch;
          stroke: white;
        }
        .browsing-event-duration-line {
          stroke: $color-twitch;
        }
      }
      &.youtube {
        .browsing-event-circle {
          fill: $color-youtube;
          stroke: white;
        }
        .browsing-event-duration-line {
          stroke: $color-youtube;
        }
      }
    }
  }

  button {
    &.active {
      font-weight: 800;
    }
  }
}

.event-tooltip-content {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: .5rem;
    em {
      min-width: 10rem;
      max-width: 10rem;
      text-align: right;
      padding-right: .25rem;
    }
    code {
      margin-left: 1rem;
      max-width: 30rem;
    }
  }
}

.Studio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .ui-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    max-width: 30vw;
    padding: $gutter;
    .header {

    }
    .body {
      flex: 1;
      overflow: auto;
    }
    .footer {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        li {
          display: flex;
        }
      }
    }
  }
  .preview-container {
    flex: 1;
    overflow: auto;
    height: 100%;
  }

}