@use "fonts";
@use "constants";
@use "lib";

.App {
  @include lib.generic-rules;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  background: constants.$color-app-bg;

  /**
   Main structure
   */
  header {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    // padding: constants.$gutter;
    align-items: center;
    @include fonts.kanit-bold;
    background: constants.$color-app-main;
    color: white;
    .header-contents {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      box-sizing: border-box;
      padding: constants.$gutter 0;
      width: constants.$max-content-width;
      max-width: constants.$max-content-width;
      align-items: end;
      box-sizing: border-box;
      @media (max-width: constants.$max-content-width) {
        padding: constants.$gutter;
      }
    }
    h1 {
      margin: 0;
      @include fonts.kanit-bold;
      a,
      a.active {
        text-decoration: none;
      }
      .alpha-mark {
        padding-left: constants.$gutter-small;
        opacity: 0.5;
        @include fonts.kanit-light;
      }
      font-size: 2rem;

      .VersionCheckBtn {
        position: relative;
        font-size: 1rem;
        margin-left: constants.$gutter;
        bottom: constants.$gutter-small;
        padding: constants.$gutter-small;
        border: none !important;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      align-items: end;
      li {
        margin-left: constants.$gutter;
        @include fonts.kanit-light;
        font-size: 1.8rem;
        &.secondary {
          font-size: 1rem;
          margin-bottom: 0.4rem;
        }
        a,
        a.active {
          text-decoration: none;
        }
        a.active,
        a.is-active {
          @include fonts.kanit-semibold;
        }
        a:not(.active):not(.is-active):hover {
          @include fonts.kanit-regular;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }

  .contents-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    &.scrollable {
      overflow: auto;
    }
  }
  .contents {
    position: relative;
  }
  .contents.width-limited-contents {
    max-width: constants.$max-content-width;
    width: constants.$max-content-width;
    box-sizing: border-box;
    @media (max-width: constants.$max-content-width) {
      padding: constants.$gutter;
    }
  }

  .Settings {
    .settings-group:last-of-type {
      padding-bottom: 5rem;
    }
    .Handle {
      .input-group {
        // display: flex;
        // flex-flow: row nowrap;
        h5 {
          margin: 0;
          // max-width: 30%;
          // min-width: 30%;
        }
        .input-container {
          flex: 1;
          // padding-left: constants.$gutter;
          input,
          select {
            width: 100%;
          }
        }
      }
    }
    button {
      padding: constants.$gutter;
    }
    .InputToValidate {
      padding-left: 0;
      .value-placeholder {
        padding: constants.$gutter;
      }
    }
    .settings-subgroup ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
    }
  }

  .About.contents-wrapper {
    overflow: auto;
    
    a {
      color: constants.$color-app-main;
      text-decoration: none;
    }
    .warning {
      background: constants.$color-app-main;
        color: white;
        padding: constants.$gutter;
    }

    ul {
      margin: 0;
    }
    .contents section:last-of-type{
      padding-bottom: 10rem;
    }
  }
}
