$gutter: 0.5rem;
$gutter-small: 0.25rem;
$max-content-width: 1200px;
$color-twitch: #aa43ff;
$color-youtube: #ff0001;

$color-app-main: #9147ff;
$color-app-main-accent: #43128d;
$color-app-bg: #ededed;


