@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hammersmith+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin abeezee-regular {
  font-family: "ABeeZee", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin abeezee-regular-italic {
  font-family: "ABeeZee", serif;
  font-weight: 400;
  font-style: italic;
}

@mixin hammersmith-one-regular {
  font-family: "Hammersmith One", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin kanit-thin {
  font-family: "Kanit", serif;
  font-weight: 100;
  font-style: normal;
}

@mixin kanit-extralight {
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: normal;
}

@mixin kanit-light {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}

@mixin kanit-regular {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin kanit-medium {
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}

@mixin kanit-semibold {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
}

@mixin kanit-bold {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
}

@mixin kanit-extrabold {
  font-family: "Kanit", serif;
  font-weight: 800;
  font-style: normal;
}

@mixin kanit-black {
  font-family: "Kanit", serif;
  font-weight: 900;
  font-style: normal;
}

@mixin kanit-thin-italic {
  font-family: "Kanit", serif;
  font-weight: 100;
  font-style: italic;
}

@mixin kanit-extralight-italic {
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: italic;
}

@mixin kanit-light-italic {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: italic;
}

@mixin kanit-regular-italic {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: italic;
}

@mixin kanit-medium-italic {
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: italic;
}

@mixin kanit-semibold-italic {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: italic;
}

@mixin kanit-bold-italic {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: italic;
}

@mixin kanit-extrabold-italic {
  font-family: "Kanit", serif;
  font-weight: 800;
  font-style: italic;
}

@mixin kanit-black-italic {
  font-family: "Kanit", serif;
  font-weight: 900;
  font-style: italic;
}
