


@use "constants";
@use "fonts";

.Habits {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  .HabitsViz {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .bg-line {
      stroke: black;
      stroke-dasharray: 5,5;
    }
    .bg-label {
      font-size: .8rem;
      &.x-label {
        text-anchor: middle;
      }
      &.y-label {
        text-anchor: end;
      }
    }

    .main-objects-container {
      .bin-object-count-bg-circle {
        fill: rgba(0,0,0,0.5);
      }
      .breakdown-object {
        opacity: .8;
      }
    }
  }
}