@use "fonts";
@use "constants";

@mixin generic-rules {
  /*
    default fonts
  */
  @include fonts.abeezee-regular;
  strong {
    @include fonts.kanit-bold;
  }
  h1,
  h2,
  h3 {
    @include fonts.kanit-medium;
  }
  h4,
  h5,
  h6 {
    @include fonts.hammersmith-one-regular;
  }
  button,
  select,
  option,
  input,
  textarea {
    @include fonts.hammersmith-one-regular;
    box-sizing: border-box;
  }

  /**
    Small components
  */
  input,
  select,
  textarea {
    border: 0.5px solid #333;
    border-radius: 0;
    background: inherit;
    outline: none;
    box-sizing: border-box;
  }
  input:focus {
    border-color: black;
  }
  input::placeholder {
    @include fonts.kanit-extralight;
    color: black;
    font-size: 0.8em;
  }

  button {
    background: inherit;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: #867f7f;
    color: white;
    border: 1px solid constants.$color-app-bg;
    box-sizing: border-box;
    cursor: pointer;
    &:hover:not(:disabled) {
      background: #807f7f;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }
    &.active {
      background: #333;
      font-weight: 800;
      &:hover {
        background: black;
      }
    }

    &.important-button {
      background: constants.$color-app-main;
      padding: constants.$gutter;
      &:hover {
        background: constants.$color-app-main-accent;
        opacity: 0.7;
      }
      &.active {
        background: constants.$color-app-main-accent;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  /** 
    Bigger reusable components
  */

  .ui-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    button,
    input {
      flex: 1;
    }
    margin-bottom: constants.$gutter;
  }

  .rc-slider {
    .rc-slider-rail {
      background: lightgrey;
    }
    .rc-slider-track {
      background: grey;
    }
    .rc-slider-step {
      background: grey;
    }
    .rc-slider-handle {
      background: #333;
      border: none;
    }
  }

  .InputToValidate {
    display: flex;
    .small-card-body {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      flex: 1;
      input {
        flex: 1;
      }
      button {
        margin: 0;
      }
    }

    .value-placeholder {
      cursor: pointer;
      font-size: 1.1em;
      @include fonts.hammersmith-one-regular;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        background: #333;
        color: white;
      }
    }
  }

  .CollapsibleSection {
    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      cursor: pointer;
      .title {
        flex: 1;
        margin: 0;
        padding: constants.$gutter;
      }
      background: #333;
      color: white;
      margin-bottom: constants.$gutter;

      button {
        min-width: constants.$gutter * 3;
        max-width: constants.$gutter * 3;
        min-height: constants.$gutter * 3;
        max-height: constants.$gutter * 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: constants.$gutter;
        margin-right: constants.$gutter;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        background: #333;
        border: none;
      }
    }
    .body {
      overflow: visible;
      max-height: 50000000000px;
      padding: constants.$gutter 0;
    }
    &.is-collapsed {
      .body {
        max-height: 0;
        overflow: hidden;
        padding: 0;
      }
    }
    &.is-disabled {
      opacity: 0.5;

      .header {
        cursor: not-allowed;
      }
    }
  }

  .tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  .input-group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: constants.$gutter;
  }

  .color-marker {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  .cards-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .card {
      margin: constants.$gutter 0;
      // border: 1px solid #333;
      box-shadow: 0px 0px 0.5rem grey;
      padding: constants.$gutter;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      .card-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: stretch;

        .card-body {
          flex: 1;
          box-sizing: border-box;
          padding-right: constants.$gutter;
        }
        .card-actions {
          display: flex;
          flex-flow: column nowrap;
        }
      }
    }
  }

  .small-cards-container {
    background: #848484;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    &.capped {
      overflow: auto;
      max-height: 60vh;
    }
  }
  .small-card {
    padding: constants.$gutter;
    background: constants.$color-app-bg;
    margin: constants.$gutter;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    &.disabled {
      opacity: 0.5;
    }
    .small-card-body {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  .tabs-container {
    padding: 0;
    padding-top: constants.$gutter;
    box-sizing: border-box;
    ul {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      list-style: none;
      padding: 0;

      .tab {
        cursor: pointer;
        flex: 1;
        box-sizing: border-box;
        h2 {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: inherit;
          padding: constants.$gutter;
          display: inline-block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
        }
        &.active {
          background: #333;
          color: white;
        }
      }
    }
  }
  .tab-content {
    flex: 1;
    overflow: hidden;
  }

  .TimePicker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    margin-bottom: constants.$gutter;
    .label {
      flex: 1;
      text-align: right;
      padding-right: constants.$gutter;
    }
    select {
      flex: 1;
    }
  }

  .form-group {
    .row {
      display: flex;
      flex-flow: row nowrap;
      // justify-content: space-between;
      .TimePicker {
        margin-right: constants.$gutter;
      }
    }
  }

  .DatePicker {
    .selecting-placeholder {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .month-picker {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: center;
      margin-bottom: constants.$gutter;

      button {
      }
      .current-month {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
      }
    }
    .date-picker {
      .days-of-week {
        display: flex;
        flex-flow: row nowrap;
        justify-content: stretch;
        &.name-of-days {
          margin-bottom: constants.$gutter;
        }
        li {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .weeks {
        position: relative;
        .week {
          .days-of-week {
            .day {
              flex: 1;
              position: relative;
              .value-indicator-container {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                .value-indicator {
                  background: constants.$color-app-main;
                  border-radius: 50%;
                  display: inline-block;
                  opacity: 0.5;
                }
              }
              button {
                position: relative;
                color: inherit;
                background: none;
                // border: 3px solid #333;
                flex: 1;
                width: 100%;
                box-sizing: border-box;
                height: 1.8rem;
                max-height: 1.8rem;
              }
              
              &.out-of-month {
                opacity: 0.5;
              }
              &.is-disabled {
                opacity: 0.3;
                button {
                  cursor: not-allowed;
                }
              }
              &.is-selected {
                background: rgba(0, 0, 0, 0.1);
                button {
                  // @include fonts.kanit-extrabold;
                  // border: 1px solid #333;
                  // text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
